<form class="form-horizontal sleek-form"
      autocomplete="off"
      #createUserModal="ngForm"
      (ngSubmit)="save()">

  <abp-modal-header 
      [title]="'ContactPerson' | localize"
      (onCloseClick)="bsModalRef.hide()">
  </abp-modal-header>

  <div class="modal-body" style="height: 60vh; overflow-y: auto;">

    <div class="row">

      <!-- First Name -->
      <div class="col-md-6">
        <div class="form-group required">
          <label>{{ "FirstName" | localize }}</label>
          <input 
            type="text" 
            class="form-control"
            name="name" 
            required maxlength="32"
            placeholder="{{ 'EnterFirstName' | localize }}"
            [(ngModel)]="customer.name"
            #nameModel="ngModel" #nameEl />
          <abp-validation-summary 
            [control]="nameModel"
            [controlEl]="nameEl">
          </abp-validation-summary>
        </div>
      </div>

      <!-- Last Name -->
      <div class="col-md-6">
        <div class="form-group required">
          <label>{{ "LastName" | localize }}</label>
          <input 
            type="text"
            class="form-control"
            name="surname"
            maxlength="32"
            [(ngModel)]="customer.surname"
            #surnameModel="ngModel" #surnameEl
            placeholder="{{ 'EnterLastName' | localize }}" />
          <abp-validation-summary 
            [control]="surnameModel"
            [controlEl]="surnameEl">
          </abp-validation-summary>
        </div>
      </div>

      <!-- Username -->
      <div class="col-md-6">
        <div class="form-group required">
          <label>{{ "UserName" | localize }}</label>
          <input 
            type="text"
            class="form-control"
            name="userName"
            required minlength="2" maxlength="32"
            [(ngModel)]="customer.userName"
            #userNameModel="ngModel" #userNameEl
            placeholder="{{ 'EnterUserName' | localize }}" />
          <abp-validation-summary 
            [control]="userNameModel"
            [controlEl]="userNameEl">
          </abp-validation-summary>
        </div>
      </div>

      
      <!-- Email Address -->
      <div class="col-md-6">
        <div class="form-group required">
          <label>{{ "EmailAddress" | localize }}</label>
          <input 
            type="email"
            class="form-control"
            name="emailAddress"
            required maxlength="256"
            [(ngModel)]="customer.emailAddress"
            #emailAddressModel="ngModel" #emailAddressEl
            placeholder="{{ 'EnterEmailAddress' | localize }}" />
          <abp-validation-summary 
            [control]="emailAddressModel"
            [controlEl]="emailAddressEl">
          </abp-validation-summary>
        </div>
      </div>

      <!-- phone number-->
      <div class="col-md-6">
        <div class="form-group required">
        <label for="telephoneFax">{{ "Phone" | localize }}</label>
        <input
          type="text"
          id="telephoneFax"
          name="telephoneFax"
          class="form-control"
          required
          minlength="2"
          maxlength="32"
          [(ngModel)]="customer.telephoneFax"
          #telephoneFaxModel="ngModel"
          #telephoneFaxEl
          placeholder="{{ 'EnterPhoneNumber' | localize }}"
        />
        <abp-validation-summary [control]="telephoneFaxModel" [controlEl]="telephoneFaxEl"></abp-validation-summary>
      </div>
      </div>

      <!-- Password -->
      <div class="col-md-6" *ngIf="!id">
        <div class="form-group required">
          <label>{{ "Password" | localize }}</label>
          <input 
            type="password"
            class="form-control"
            name="password"
            required maxlength="32"
            validateEqual="confirmPassword"
            reverse="true"
            [(ngModel)]="customer.password"
            #passwordModel="ngModel" #passwordEl
            placeholder="{{ 'EnterPassword' | localize }}" />
          <abp-validation-summary 
            [control]="passwordModel"
            [controlEl]="passwordEl"
            [customValidationErrors]="passwordValidationErrors">
          </abp-validation-summary>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="col-md-6" *ngIf="!id">
        <div class="form-group required">
          <label>{{ "ConfirmPassword" | localize }}</label>
          <input 
            type="password"
            class="form-control"
            name="confirmPassword"
            required maxlength="32"
            validateEqual="password"
            reverse="false"
            ngModel
            #confirmPasswordModel="ngModel" #confirmPasswordEl
            placeholder="{{ 'EnterConfirmPassword' | localize }}" />
          <abp-validation-summary 
            [control]="confirmPasswordModel"
            [controlEl]="confirmPasswordEl"
            [customValidationErrors]="confirmPasswordValidationErrors">
          </abp-validation-summary>
        </div>
      </div>


   
  
    <div class="col-md-6">
         <div class="form-field">
        <label for="description">{{ "Note" | localize }}</label>
        <textarea
          id="description"
          name="description"
          maxlength="500"
          rows="1"
          [(ngModel)]="customer.description"
          #descriptionModel="ngModel"
          #descriptionEl
          placeholder="{{ 'EnterNote' | localize }}"
        ></textarea>
        <abp-validation-summary [control]="descriptionModel" [controlEl]="descriptionEl"></abp-validation-summary>
      </div>
    <!-- <app-custom-fields 
      *ngIf="isCustomFieldsAvailable"
      [customFields]="customer.customFields">
    </app-custom-fields> -->
    </div>
    <!-- Custom Fields -->


  </div>
 </div>
  <abp-modal-footer 
      [cancelDisabled]="saving"
      [saveDisabled]="!createUserModal.form.valid || saving"
      (onCancelClick)="bsModalRef.hide()">
  </abp-modal-footer>

</form>
