<form autocomplete="off" #form1="ngForm" (ngSubmit)="onSaveButtonClick()">

    <abp-modal-header [title]="title | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <fieldset [disabled]="disableFields">
        <div class="modal-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group d-flex flex-column required">
                        <label class="col-form-label" for="name">
                            {{ "Activity Type" | localize }}
                        </label>
                        <input type="text" class="form-control" name="name" id="name" disabled [value]="activityType" />
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group d-flex flex-column required">
                        <label class="col-form-label" for="name">
                            {{ "FollowUp Activity Type" | localize }}
                        </label>
                        <input type="text" class="form-control" name="name" id="name" disabled
                            [value]="followUpActivityType" />
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group d-flex flex-column required">
                        <label class="col-form-label" for="name">
                            {{ "Serial No" | localize }}
                        </label>
                        <ng-select type="text" name="{{'productItem'}}" required
                            (ngModelChange)="onProductItemChange($event)" [(ngModel)]="productItem.productItemId"
                            #productItemModel="ngModel" #productItemEl>

                            <ng-option *ngFor="let product of productItems" [value]="product.id">
                                {{ product.name }}
                            </ng-option>
                        </ng-select>
                        <abp-validation-summary [control]="productItemModel" [controlEl]="productItemEl">
                        </abp-validation-summary>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group d-flex flex-column required">
                        <label class="col-form-label" for="name">
                            {{ "Product" | localize }}
                        </label>
                        <input type="text" class="form-control" name="name" required id="name" disabled
                            [value]="productName" />
                    </div>

                </div>




                <div class="col-md-6">
                    <div class="form-group d-flex flex-column required">
                        <label class="col-form-label" for="note">
                            {{ "Note" | localize }}
                        </label>
                        <textarea type="text" class="form-control" name="note" id="note" required
                            [(ngModel)]="productItem.note" #noteModel="ngModel" #noteEl></textarea>
                        <abp-validation-summary [control]="noteModel" [controlEl]="noteEl">
                        </abp-validation-summary>
                    </div>
                </div>
            </div>
        </div>
        <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!form1.form.valid || saving"
            (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
    </fieldset>
</form>
