<div class="content">

  <div class="row mt-3">
    <!-- Search Bar -->
    <div class="col-md-4 col-12">
      <div class="search-wrapper position-relative">
        <input
          type="text"
          class="form-control search-input pe-5"
          placeholder="{{ 'Search' | localize }}"
          [(ngModel)]="keyword"
          (ngModelChange)="getDataPage(1)"
        />
        <!-- <i class="fa fa-search search-icon" (click)="getDataPage(1)"></i> -->
      </div>
    </div>
     <!-- Status Filter -->
<div class="col-md-4 col-12 d-flex justify-content-center align-items-center">
  <!-- <strong class=" fw-bold p-1 text-center ">{{ 'Status' | localize }}: </strong> 

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="statusFilter" id="statusAll"
           [value]="null" [(ngModel)]="isActiveFilter" (change)="getDataPage(1)">
    <label class="form-check-label" for="statusAll">{{ 'All' | localize }}</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="statusFilter" id="statusActive"
           [value]="true" [(ngModel)]="isActiveFilter" (change)="getDataPage(1)">
    <label class="form-check-label text-success" for="statusActive">{{ 'Active' | localize }}</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="statusFilter" id="statusInactive"
           [value]="false" [(ngModel)]="isActiveFilter" (change)="getDataPage(1)">
    <label class="form-check-label text-danger" for="statusInactive">{{ 'Inactive' | localize }}</label>
  </div> -->

</div>



    <!-- Create Policy Button -->
    <div class="col-md-4 d-flex justify-content-end"  *ngIf="!_appSessionService.isCustomerUser()">
      <button type="button" class="btn btn-primary" (click)="showCreateOrEditDialog()">
        <i class="fa fa-plus-square"></i> {{ 'Create' | localize }} {{ 'Policy' | localize }}
      </button>
    </div>
  </div>

  <!-- Policies Table -->
  <div class="card-body p-0 mt-3">
    <div class="table-responsive">
      <table class="table table-bordered parent-table mb-0" [busy]="isTableLoading">
        <thead>
          <tr>
            <th>{{ "Branche" | localize }}</th>
            <th>{{ "Selskab" | localize }}</th>
            <th>{{ "Bemærkning" | localize }}</th>
            <th>{{ "Police nr." | localize }}</th>
            <th>{{ "Fornyelsesdato" | localize }}</th>
            <th>{{ "Årlig præmie" | localize }}</th>
            <!-- <th>{{ "Policer" | localize }}</th> -->
            <th>{{ "Certifikat" | localize }}</th>
            <th >{{ "Handlinger" | localize }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let policy of policies">
            <td>{{ policy.branch }}</td>
            <td>{{ policy.company }}</td>
            <td>{{ policy.comment }}</td>
            <td>{{ policy.policyNumber }}</td>
            <td>{{ policy.renewalDate | date:'shortDate' }}</td>
            <td>{{ policy.annualPremium }}</td>
            <!-- <td>
  <span
    class="badge"
    [ngClass]="policy.isActive ? 'bg-success' : 'bg-danger'">
    {{ policy.isActive ? 'Active' : 'Inactive' }}
  </span>
</td> -->

            <td>
              <a *ngIf="policy.policyPdfPath" [href]="policy.policyPdfPath" target="_blank">
                View PDF
              </a> 
              <!-- <br>
               <span
    class="badge"
    [ngClass]="policy.isActive ? 'bg-success' : 'bg-danger'">
    {{ policy.isActive ? 'Active' : 'Inactive' }}
  </span> -->

            </td>
            <td>
              <button class="btn btn-sm btn-info " (click)="showCreateOrEditDialog(policy.id)"*ngIf="!_appSessionService.isCustomerUser()">
                <i class="fas fa-edit"></i>
              </button> &nbsp;
                <button class="btn btn-sm btn-secondary" (click)="viewDetails(policy.id)">
                <i class="fas fa-eye"></i>
              </button>&nbsp;
              <button class="btn btn-sm btn-danger" (click)="delete(policy)"*ngIf="!_appSessionService.isCustomerUser()">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="policies.length === 0">
            <td colspan="8" class="text-center">No Policies Found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Pagination -->
  <div class="card-footer table-card-footer bg-light border-top">
    <div class="row">
      <div class="col-sm-4 col-12 text-sm-left text-center">
        <button class="btn btn-secondary" (click)="refresh()">
          <i class="fas fa-redo-alt"></i>
        </button>
      </div>
      <div class="col-sm-4 col-12 text-center">
        <!-- <p class="mb-0 my-2">{{ "TotalRecordsCount" | localize : totalItems }}</p>
       -->
      </div>
      <div class="col-sm-4 col-12 p-2">
        <div class="float-sm-right m-auto">
          <abp-pagination-controls
            id="server"
            (pageChange)="getDataPage($event)">
          </abp-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
