﻿
<div class="language-selector d-flex justify-content-center align-items-center mt-3">
  <!-- <button
    class="btn btn-outline-primary mx-2"
    (click)="changeLanguage('en')"
    [class.active]="currentLanguage?.name === 'en'"
  >
    <i class="fas fa-globe"></i> English
  </button> -->
  <!-- <button
    class="btn btn-outline-primary mx-2"
    (click)="changeLanguage('da')"
    [class.active]="currentLanguage?.name === 'da'"
  >
    <i class="fas fa-globe"></i> Danish
  </button> -->
</div>
